body{
    overflow-x: hidden;
}
header {
    width: 100%;
    padding: 0 auto;
    position: sticky;
    border: 3px solid #6e86d3;
    background-color:rgb(58,83,166);
    margin: 0;
    text-align:right;
    top:0;
    border-radius: 20px;

}
footer{
    width:100%;
}
#contact{
    align-self:center;
}
#Contact li a img{
    width:50px;
    height:auto;
}
#Contact li{
    display:inline-block;
}
#spaced{
    padding:50px;
}

#MonthHeader{
    border: 3px solid #6e86d3;
    background-color:rgb(58,83,166);
    width: 50%;
    color:white;
    border-radius: 20px;
    margin:0 auto;
    font-size: 35px;
    text-align:center;
}
#dayheader{
    font-size:25px;
    
    
}
#main{
  padding: 25px 50px;
}

nav ul li {
    display: inline;
    font-size: 20px;
    margin: 0 auto;
    padding:10px;
    color:white;
    
}

nav ul li:hover {
    background-color:#4bacc7;
    border-radius:15px;
    width:fit-content;
    border: 1px solid white;
}
nav ul img{
    float:left;
    height:40px;
    width:auto;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}
nav ul li img:hover{
    border:1px solid red;
    color:#3A53A6
}

h3{
    color:white;
}
p{
    font-size: 15px;
}
a:link {
    text-decoration: none;
    color:white;
}

a:visited {
    color: rgb(82, 80, 80);
}


.grid-container p{
    padding:35px;
    font-size:25px; 
    font-family:Georgia, 'Times New Roman', Times, serif  
}
.Page_Title {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
   /* grid-template-rows: repeat(3, 1fr)*/
    grid-gap: 0px;
    height: 100vh;
    width: 100vw;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    width:auto;
    position:sticky;
    bottom:0;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
.Arrow{
    height:50px;
    width:auto;
}
.twoGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding-top:50px;
    padding-bottom:100px;
   
    padding-left: 150px;
  }
  
.twoGrid-item {
    text-align: center;
    width:100%;
  }
.twoGrid-item p{
    text-align:left;
    display:inline;
}
.twoGrid-item h1{
    color:white;
    border:3px solid #6e86d3;
    background-color:#3A53A6;
    border-radius: 55px;
    font-size:25px;
}

.twoGrid-item-picture img{
    margin: 0 auto;
    width:100%;
    float:left;
}
.twoGrid-item-picture{
    width:50%;
    float:left;
    width:300px;

}

